/* Animation */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.loading-wrapper {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#ecf0f1, #fff);
}
.loading {
  width: 80px;
  height: 80px;
}
.loading__ring {
  position: absolute;
  width: 80px;
  height: 80px;
}
.loading__ring:first-child {
  transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
  transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
  animation-delay: -0.5s;
}
.loading__ring svg {
  animation: rotate 1s linear infinite;
  fill: rgba(0, 0, 0, 0.2);
}
svg {
  enable-background: new 0 0 100 100;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(229, 49, 35);
}
