@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf8f1;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

.hide {
  display: none;
}

p {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.menu a {
  color: #fff;
  text-transform: capitalize;
}
a:hover {
  color: rgb(229, 49, 35) !important;
  text-decoration: none;
}
strong,
span,
strong a {
  color: rgb(229, 49, 35) !important;
}

section {
  padding: 50px 0 20px 0;
}

section .section-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.z-depth-3 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.hero-section {
  background-size: contain;
  width: 100%;
  height: 70vh;
  background: rgba(229, 49, 35, 0.4) url("./images/bg.jpg") no-repeat fixed
    center;
  background-blend-mode: multiply;
}

.section-subtitle {
  font-size: 1.2em;
  color: #333;
  text-align: center;
}
.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 50px;
}

.header {
  display: flex;
}
.menu {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
.menu a {
  margin-right: 20px;
}
.menu,
.avatar {
  align-self: center;
}
.awards-list,
.awards-list li {
  text-align: center;
}
.awards-list li {
  margin-right: 20px;
}
.awards-images {
  display: block;
  width: 140px;
  height: 140px;
  object-fit: contain;
  border: 1px solid #e1e1e1;
}

/* Articles styling */
.article-featured-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.single-article {
  margin: 20px 0;
  display: inline-flex;
}
.single-article h2 {
  font-size: 28px;
  line-height: 48px;
  font-weight: bold;
}

.single-article .z-depth-3 {
  box-shadow: none;
}
.article-content {
  flex: 0.8;
}
.article-content div:first-child {
  font-size: 28px;
  line-height: 48px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.article-content a {
  color: rgb(229, 49, 35) !important;
  font-weight: bold;
}
.article-published-date {
  padding: 0 20px;
  text-align: left;
  flex: 0.2;
}
.article-published-date h4 {
  font-size: 2rem;
  font-weight: bold;
}
.article-published-date h4 span {
  font-size: 1.7rem;
}

/* Footer styling */
.social-list {
  text-align: center;
}

.social-list li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5) !important;
  margin-right: 15px;
}

.social-list li .fa {
  font-size: 28px;
  margin-right: 5px;
}
.social-list .twitter a:hover {
  color: #00acee !important;
}
.social-list .linkedin a:hover {
  color: #0e76a8 !important;
}
.social-list .medium a:hover {
  color: #66cdaa !important;
}
.social-list .github a:hover {
  color: #333 !important;
}
